
#board {
    height: 100%;
}

#leftSide {
    position: absolute;
    top: 2%;
    left: 3%;
    bottom: 2%;
    width: 40%;
    display: block;
    background-image: url(../../assets/fabric.jpg);
}

#rightSide {
    position: absolute;
    top: 2%;
    left: 45%;
    bottom: 2%;
    width: 40%;
    display: block;
    background-image: url(../../assets/fabric.jpg);
}